<div class="jumbo">
  <div class="right tomster"></div>
  <h1>About the NYC DOHMH Syndromic Surveillance Repository</h1>
  <p>
    The Syndromic Surveillance Unit within the Bureau of Communicable Disesase
    at the New York City Department of Health and Mental Hygiene has
    created this website to promote knowledge sharing in the field.

    On this site, you will find a
    {{#link-to "usecaserepo" class="menu-contact"}}
      repository
    {{/link-to}}
    of use cases for syndromic data,

     and an automated
    {{#link-to "literature" class="menu-contact"}}
      literature review tool
    {{/link-to}}
    to augment and aid in discovery of new knowledge.

    <br><br>
    This site was developed by Sophie Rand and Ramona Lall. We'd love to hear from you.
  </p>
  {{#link-to "contact" class="button"}}
  Contact Us
{{/link-to}}
</div>
