<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>The developers of this site would love to help you leverage the site<br>to enhance your own research and add to our agency's knowledge base.</p>
<b>For questions on the use case repository, contact:</b>

<address>
  <p>
    Rob Mathes, Director, Syndromic Surveillance
    <br>
  <a href="tel:347.396.2650">+1 (347) 396-2650</a><br>
  <a href="mailto:rmathes@health.nyc.gov">rmathes@health.nyc.gov</a>
  <br> <br>
    Ramona Lall, Senior Syndromic Surveillance Analyst
    <br>
  <a href="tel:347.396.2793">+1 (347) 396-2793</a><br>
  <a href="mailto:rlall@health.nyc.gov">rlall@health.nyc.gov</a>
  <br> <br>
    Sophie Rand, Syndromic Surveillance Analyst
    <br>
  <a href="tel:347.396.4681">+1 (347) 396-4681</a><br>
  <a href="mailto:srand1@health.nyc.gov">srand1@health.nyc.gov</a>
  </p>
</address>

<b>For questions on the literature review tool, contact:</b>
  <address>
    Sophie Rand, Syndromic Surveillance Analyst
    <br>
  <a href="tel:347.396.4681">+1 (347) 396-4681</a><br>
  <a href="mailto:srand1@health.nyc.gov">srand1@health.nyc.gov</a>
  <br><br>
Kim Sebek, Director of ***, Child and Family Health
<br>
<a href="tel:347.396.4681">+1 (347) 396-4681</a><br>
<a href="mailto:ksebek@health.nyc.gov">ksebek@health.nyc.gov</a>
</address>
  <br><br>
  <address>
    NYC Department of Health and Mental Hygiene<br>
      42-09 28th Street<br>
      Long Island City, NY 11101
      </address>
      <br><br>

  {{#link-to "about" class="button"}}
  About
{{/link-to}}
</div>
