<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About the NYC DOHMH Lit Review Tool</h2>
  <p>
    The New York City Department of Health and Mental Hygiene has
    developed a tool to systematically scrape, organize and store literature
    data from sources like Pubmed, PMC, and SpringerLink.

    This tool can aid in your literature review tasks.
</p>

    Developed by Sophie Rand and Kimberly Sebek.
    <br><br>
    <p>The developers of this tool would love to help you leverage this tool<br>to enhance your own research and add to the agency's knowledge base.
    Please contact us! </p>
</div>


{{#each model as |litUnit|}}
{{literature-listing literature=litUnit}}
{{/each}}
